body {
    background-color: black;
}

div {
    width: 50%;
    margin-left: 25%;
    padding: 0px;
}

#border {
    border: 1px solid white;
    padding: 10px 20px;
    margin-top: 20px;
}

.image {
    width: 100%;
    margin: 0px;
    border: 2px solid white;
}

.image-size {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.text-large {
    padding: 0px;
    width: 100%;
    margin-left: 0px;
    margin: 0px;
    margin-left: 0%;
}

.text-small {
    width: 100%;
    margin: 0%;
    padding: 0%;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    margin: 0px;
    color: white;
    text-align: center;
}

p {
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin: 0%;
    padding: 0%;
}